{% extends "authenticate_base.html" %}

{% block body %}
    <div class="container mt-5">
   

        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
          {%csrf_token%}   
          <legend>Login</legend>
          {% if messages %}
          {{message.tags}}
          <div class="alert alert-primary" role="alert">
            {% for message in messages %}
             {{ message }} 
            {% endfor %}
          </div>
          {% endif %}
              <hr>
              <div class="mb-3">
                <label for="username" class="form-label"> Username</label>
                <input type="text" name="username"  class="form-control" placeholder="enter username">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label"> Password</label>
                <input type="password" name="password" class="form-control" placeholder="enter password">

            </div>            
              
              <p>Don't have account, <a href="/signup/">Register here</a></p>
              <button type="submit" class="btn btn-success">Sign In</button>
          </form>

    </div>



    {% endblock body %}